# Diretórios e arquivos gerados pelo Android Studio
.idea/
*.iml
.gradle/
build/
captures/
local.properties

# Arquivos gerados automaticamente
*.apk
*.dex
*.log

# Diretório do wrapper do Gradle
.gradle/

# Permitir gradle-wrapper.properties, mas ignorar outros arquivos gerados
!gradle/wrapper/gradle-wrapper.properties

# Arquivos temporários
.DS_Store

# Arquivos sensíveis
*secret.h
*google-services.json

# Diretórios e arquivos específicos do ESP32
*.bin
*.elf
*.map
